ul.menu-desplegable {
    display: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.menu-hamburguesa {
    font-size: 30px;
    cursor: pointer;
}
ul.menu-desplegable.active {
    display: block;
}
ul.menu-desplegable li {
    padding: 10px;
    background-color: #eee;
}
ul.menu-desplegable li a {
    text-decoration: none;
    color: #333;
}